/* CSS declarations go here */
/*@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);*/

#h1 {
    margin: 50px 0 50px 0;
}

#search-box {
    padding: 10px;
    width: 95%;
    border: 1px solid #eee;
    outline: 0;
    font-size: 15px;
}

#search-result {
    margin: 20px 0 100px 0;
}

#search-meta {
    font-size: 13px;
    color: #666;
    height: 15px;
}

.matched_gene, .selected_gene, .selected_histmod, .selected_tf{
    /*width: 600px;*/
    border-bottom: 1px solid #eee;
    padding: 8px 4px;
    font-weight: 400;
}

.matched_gene:hover {
    background: #f0b92e;
    cursor: pointer;
}

.selected_gene:hover, .selected{
    background: #f0b92e;
}

span.selected_gene_name, span.selected_histmod_name, span.selected_tf{
    cursor: pointer;
}

i.delete-gene{
    cursor: pointer;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

body, svg {
    font: 14px 'Helvetica';
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #000;
}

.axis .tick line {
    stroke: rgba(0, 0, 0, 0.2);
}

.area {
    stroke-width: 1;
}

/*.area.outer,*/
/*.legend .outer {*/
    /*fill: rgba(230, 230, 255, 0.8);*/
    /*stroke: rgba(216, 216, 255, 0.8);*/
/*}*/


.legend rect {
    fill:white;
    stroke:black;
    opacity:0.8;}

button.displayToggle  {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
}

button.displayToggle:hover {
    background-color: #4CAF50;
    color: white;
}

.loop-viewer .axis, .peak-viewer .axis, .slider_container .axis{
    font: 10px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.slider_container .axis .domain {
    fill: none;
    stroke: #000;
    stroke-opacity: .3;
    stroke-width: 10px;
    stroke-linecap: round;
}

.slider_container .axis .halo {
    fill: none;
    stroke: #ddd;
    stroke-width: 8px;
    stroke-linecap: round;
}

.slider_container .slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    cursor: crosshair;
}

.tss{
    fill: none;
    stroke: black;
    stroke-width: 3px;
    stroke-linejoin: round;
}

.exon{
    fill: grey;
    fill-opacity: .3;
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    alpha: 9;
    shape-rendering: crispEdges;
    stroke-width: 2px;
}

.intron {
    stroke: black;
    stroke-width: 1px;
    stroke-dashoffset: .8;
    stroke-dasharray: ("6, 6");
}

button#play-timeslider{
    background-color: #4CAF50;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 5px #999;
    outline: none;
}

button#play-timeslider:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

button#play-timeslider:hover {background-color: #3e8e41}

button#play-timeslider.playing{
    background-color: #f44336;
}

button#play-timeslider.playing:hover:active {background-color: #8e301e  }


.selected_histmod,.selected_tf{
    cursor: pointer;
    background: url(eye-closed.png) no-repeat;
    background-color: #ff9aa9;
    background-position: right;
}
.selected_histmod.included,.selected_tf.included{
    background: url(eye.png) no-repeat;
    background-color: #adffa0;
    background-position: right;
}

/*.selected_histmod.included .marker{*/
    /*list-style-image: url('eye.png');*/
/*}*/

.timeline{
    stroke: #cbcbcb;
    stroke-linecap: round;
    stroke-width: 4px;
}

.selected_tfs h4, .selected_histmods h4{
    text-align: right;
}

.overlay{
    fill: none;
    pointer-events: all;
}

.peakviewerMarkerLine {
    stroke: #f0b92e;
    stroke-width: 2px;
}

.loopLfcAxesLabels, .loopLfcAxes, .loopLfc, .readsArea, .exon, .tss, .intron {
    pointer-events: none;
}
#segmentEnd{
    stroke-width: 2;
    stroke: "red";
}

.loopLfc:hover{
    stroke-width: 4;
}

line, .loopLfc, .loopLfcAxes{
    shape-rendering: crispEdges;
}

.loopLfcAxesLabels{
    font-size: 8px;
    alignment-baseline: middle;
}

.loopsLegendText{
    fill: white;
    alignment-baseline: middle;
}

.footer > .container-fluid {
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
}

.footer > .container-fluid > p.right > .text-muted {
    margin: 10px 0;
    line-height: 1.2em;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-weight: 500;
    font-style: normal;
    /*font-size: 20px;*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    /*background-color: #001A57;*/
    border-top-color: #001A57;
    border: 2px;

}
.footer > .container-fluid{
    border-top: 2px solid #001A57;
    padding-top: 5px;
}

.footer > .container-fluid > p {
    height: 40px;
    margin: 0;

}


.footer > .container-fluid > p > img {
    max-width:80%;
    max-height: 80%;
}

.footer > .container-fluid > p >  a {
    text-decoration: none;
    float: right;
    padding-right: 10px;
}

.footer > .container-fluid > p >  a:visited {
    text-decoration: none;
}
.right{
    float: right
}

.left{
    float:left
}

.footer > .container-fluid > p.left{
    float: left;
    padding-left: 10px;
}

.footer > .container-fluid > p.left > span{
    margin: 10px 0;
}
.footer > .container-fluid > p.right > a {
    margin-left: 5px;
}
.footer > .container-fluid > p.right > img {
    float: right;
}
